#Rails environment
RAILS_ENV=<railsenv>

#MYSQL 
DATABASE_NAME=<dbname>
DATABASE_USER=<dbuser>
DATABASE_PASSWORD=<password>
DATABASE_PORT=3306:3306
DATABASE_HOST=<db_hostname>

# LibraryCloud API
LC_API_KEY=<key>
LC_ENV=<apienv>