#Rails environment
RAILS_ENV=<railsenv>

#This is required by QA and prod to run properly.  Run the command 'rake secret'
#and it will generate a randomized secret key.
SECRET_KEY_BASE=<run 'rake secret' and place here in qa and prod>

#MYSQL 
DATABASE_NAME=<dbname>
DATABASE_USER=<dbuser>
DATABASE_PASSWORD=<password>
DATABASE_PORT=3306:3306
DATABASE_HOST=<db_hostname>

# LibraryCloud API
LC_API_KEY=<key>
LC_ENV=<apienv>

EMAIL_HOST=mailhub.harvard.edu
EMAIL_PORT=25
EMAIL_FROM=hdc@noreply.com
EMAIL_LINK_DOMAIN=digitalcollections.library.harvard.edu
EMAIL_LINK_PORT=443