<%
	save_button_classes = 'save-search-button ajax-submit'
	if !user_signed_in?
	  save_button_classes += ' hidden'
	end
%>
<span class="form-confirmation <%=!search_is_saved ? "hidden" : "" %>">Search saved</span>  
<%- if !search_is_saved %>
	<%- if user_signed_in? %>
		<%= button_to t('blacklight.search.save_this_search'), blacklight.save_search_path(search_id), :method => :put, :class => save_button_classes %>
	<%- else %>
		<button class="sign-in-and-save-search" type="button"><%=t('blacklight.search.save_this_search')%></button>
	<%- end %> 
<%- end %>