.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hidden {
    display: none;
}

@mixin link-button {
  padding: 0;
  background: transparent;
  border: 0;
  color: $breakthrough-blue;
  display: inline;
  cursor: pointer;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  font-family: $font-family-sans-serif;

  &:focus {
    outline-width: 1px;
    outline-style: solid;
  }

  .fa-star {
    font-size: 12px;
    transform: translateY(-1px);
    color: $star-yellow;
  }
}
